@charset "UTF-8";

.top    {text-align: left;
         margin-left: 50px;
         font-family: arial;
         width: 90%;
 	}
.menu   {color:#000000;
         background-color: rgba(62, 130, 156, 0.8);
<<<<<<< HEAD
	     width:90%;
     }
.coding-env {
         border:2px black dashed;
        }
=======
	 width:90%;
         background-color: rgba(62, 130, 156, 0.8);}
>>>>>>> 4a3e166c0019e3f7b8fb3b7d121450d967213512

ul	{
       	 background: rgb(62, 130, 156);
 	}

body    {color: #000000;
	 word-wrap:break-word;
         background-image: url(../photo/rover.jpg);
         background-size: 100% auto;
         background-attachment: fixed;}
h1      {
         color: #000000;
         background-color: rgb(62, 130, 156);}

img,iframe{
	max-width:90%;
}
