@charset "UTF-8";

.top    {text-align: left;
         margin-left: 50px;
         font-family: arial;
         width: 90%;
 	}
.menu   {color:#000000;
         background-color: rgba(62, 130, 156, 0.6);
        }
body    {color: #000000;
	 word-wrap:break-word;
         background-image: url(../photo/rover.jpg);
         background-size: 100% auto;
         background-attachment: fixed;}
h1      {
         color: #000000;
         background-color: rgb(62, 130, 156);}
p       {width:90%;
         color: #000000;
         background-color: rgba(62, 130, 156, 0.6);}

img,iframe{
	max-width:90%;
}
