@charset "UTF-8";

.top    {text-align: left;
         font-family: arial;
         margin-left: 25px;
         width: 90%;
 	}

.menu   {color:#000000;
         background-color: rgba(62, 130, 156, 0.8);
	     width:100%;
     }
.menu label{
         font-weight: bold;
}
.coding-env {
         color: #ffffff;
         background-color: #000000;
         overflow: scroll;
	 border-radius: 5px;
        }

.button	{
	 color: #fff;
	 text-decoration: none;
	 font-size: 1em;
	 background-color: #00BCD4;
	 width: 100px;
	 display: block;
	 text-align: center;
     text-shadow: none;
	 padding: 5px;
	 border-radius: 10px;
	 box-shadow: 0 2px 10px 0 #9E9E9E;
}

.pagenum	{
	 color: #fff;
	 text-decoration: none;
	 text-shadow: none;
	 font-size: 1em;
	 background-color: #00BCD4;
     	 padding: 5px;
	 border-radius: 10px;
	 box-shadow: 0 2px 10px 0 #9E9E9E;
}

.error  {
     color: black;
     background-color: rgba(62, 130, 156, 0.6);
     text-align: center;
}

.top_menu   {
     position: fixed;
     text-align: right;
     width: 100%;
     margin-left: auto;
}

html	{
	 scroll-behavior: smooth;
}

a{
     text-decoration: none;
     color: skyblue;
     font-weight: bold;
     text-shadow: 2px 2px 3px black;
}

body    {color: #000000;
	     word-wrap:break-word;
         background-image: url(../photo/rover.jpg);
         background-size: 100% auto;
         background-attachment: fixed;
 }

h1,form,ul,blockquote    {
         color: #000000;
         background-color: rgb(62, 130, 156);
 }

img	{
	max-width: 90%
}

textarea,input    {
         font-size: 130%;
         width: 90%;
         height: 100;
         overflow: aputo;
         background-color: #ffffff;
         border: 1px #999999 solid;
         scrollbar-base-color: #9999dd;
         scrollbar-arrow-color: #ffa500;
         color: #000000;
         border-radius: 5px;
}
