.menu_list     {
    color:#000000;
    background-color: rgba(62, 130, 156, 0.8);
    width:100%;
}

.menu_list label {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}
/* ホバー時 */
.menu_list label:hover{
    background-color: rgba(33, 74, 89, 1)
}

.menu_list input{
    display: none;
}

/* 非表示にしておく　*/
.menu_list .menus{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.menu_check:checked + .menus{
    height: auto;
    opacity: 1;
}
